.planet {
    border-radius: 50%;
    position: absolute;
    
  }
  
  .sun {
    width: 45vmin;
    height: 45vmin;
    background-image: url("../../images/sun.png");
    background-size: cover;
    background-position: center;
    border-radius: 50%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 5;
  }
  
  .earth {
    width: 25vmin;
    height: 25vmin;
    background-image: url("../../images/earth.png");
    background-size: cover;
    background-position: center;
    border-radius: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;
  }
  
  .venus {

    width: 17vmin;
    height: 17vmin;
    background-image: url("../../images/venus.png");
    background-size: cover;
    background-position: center;
    border-radius: 50%;

    /* Initial Starting Positions */
    top: 0%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 3;
  }
  
  .neptune {
    width: 15vmin;
    height: 15vmin;
    background-image: url("../../images/neptune.png");
    background-size: cover;
    background-position: center;
    border-radius: 50%;
    /* Initial Starting Positions */
    top: 0%;
    left: 100%;
    
    transform: translate(-50%, -50%);	
    z-index: 10;

  }
  
  #planet-info {
    font-size: 1.5rem;
    text-align: center;
  }


.planet:hover {
    transform: translate(-50%, -50%) scale(1.1);
}
.highlight {
    transform: scale(1.5);
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.8);
    z-index: 1; /* Ensure the highlighted planet appears above others */
}

.container {
    display: flex;
    width: 100%;
    height: 100vh;

    color: #ffffff!important;
  }
  
  .container p,h1,h2,h3,h4,h5,h6,b{
    color: #ffffff ;
  }

  .solar-system {
    width: 60%;
    height: 100%;
/* 
    background-image: url("../../images/space4.png");
    background-size: cover;
    background-position: center; */
    position: relative;
    
    border-radius: 1000%;
    
    
}

.info-display {
  width: 40%;
  height: 100%;
  
  align-items: center;
  justify-content: center;
  padding: 10px;
  position: relative;
}


.info-display::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.4);
    backdrop-filter: blur(10px);
    background-clip: padding-box; border-radius: 40px;
}
.info-display p, .info-display h1, .info-display h2, .info-display h3, .info-display h4, .info-display h5, .info-display h6, .info-display b {
    position: relative;
    z-index: 1;
}




.education img{
    width: 200px;
   
}
.education.adj p{
    margin-top: -30px;
}

.neg-space{
    margin-top: 30px;
    margin-bottom: 0;
}

.ind-skill{
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 1rem;
}
.info-display p{
    font-size: 1rem;
    padding: -10px;
}

.ind-skill .skill-img-container{
    width: 10vh;
    height: 10vh;
    display: flex;
    flex-direction: column;
    margin: 2vh;
    margin-left: 3vmin;
    margin-right: 3vmin; /* Adjusted for spacing between each element */
}

.ind-skill .skill-img-container img{
    width: 80%;
    height: auto;
    justify-content: center;
    margin:auto;
     /* Adjusted for spacing between each element */
}
.ind-skill .skill-img-container p{
    justify-content: center;
     /* Adjusted for spacing between each element */
}

    /* Adjusted for spacing between image and text */
.skill-img-container:hover{
    transform: scale(1.1) !important;
}


/* @media screen and (max-width: 1280px) {
    .info-display p,h1,h2,h3,h4,h5,h6,b{
        font-size: 1.3rem;
    }
    .ind-skill .skill-img-container {
        width: 55px;
        height: 55px;
    }
} */







@media screen and (max-width: 1200px) {
    
    .container {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 100vh;

      }
    .solar-system {
        width: 100%;
        height: 40%;
        padding: 0;
        order: 1;
    }

    .info-display {
        width: 100%;
        height: 60%;
        padding: 0;
        order: 2;
        
    }
    .ind-skill .skill-img-container {
        margin: 1.5vh;
        margin-left: 3vw;
        margin-right: 3vw;
        width: 5vh;
        height: 5vh;
    }
    .education img{
        padding: 0.5vh;
    }
   
    .info-display p,h1,h2,h3,h4,h5,h6,b{
        font-size: .7rem;
    }
    
    .education img{
        width: 15vh;
        padding: 10px;
    }
    .education p {
        margin-bottom: -1.5vh;
        font-size: .7rem;
    }
   
   
}



@media screen and (max-width: 600px) {
    .solar-system {
        width: 100%;
        height: 30%;
    }
    .info-display {
        width: 100%;
        height: 70%;
        position: relative;
    }
    
    
}
@media screen and (max-width: 510px) {
    
    .education img{
        width: 100px;
    }
    .education p {
        font-size: 0.7rem!important;
    }
    .neg-space{
        margin-top: 0;
        margin-bottom: 0;
    }
 
    .info-display p,h1,h2,h3,h4,h5,h6,b{
        font-size: 1rem;
    }
    .ind-skill .skill-img-container {
      
        width: 35px;
        height: 35px;
        margin-left: 22px;
        margin-right: 22px;
    }
}
@media screen and (max-width: 410px)  {

    .neg-space{
        margin-top: 0;
        margin-bottom: 0;
    }
    .info-display p,h1,h2,h3,h4,h5,h6,b{
        font-size: .8rem;
    }
    .ind-skill .skill-img-container {
        width: 30px;
        height: 30px;

        
    }
    .education.adj p{
        margin-top: -15px;
    }
}

@media screen and (max-width: 385px)  {

 
  
    .ind-skill .skill-img-container {
        width: 30px;
        height: 30px;
        margin-top: 20px;
        margin-bottom: 20px;
        font-size: .6rem;

        
    }
    .education.adj p{
        margin-top: -15px;
    }
    .education p {
        font-size: .5rem!important;
    }
}